In [1]:
import pandas as pd
a=0
b=0
data1 = {"personel":[1,2,3,4,5,6,7,8,9,10,11],"MAAŞ":["NORMAL","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK"],"DENEYİM":["ORTA","YOK","YOK","ORTA","ORTA","İYİ","İYİ","ORTA","ORTA","İYİ","İYİ"],"GÖREV":["UZMAN","UZMAN","YÖNETİCİ","YÖNETİCİ","YÖNETİCİ","YÖNETİCİ","YÖNETİCİ","UZMAN","UZMAN","UZMAN","UZMAN"],"MEMNUN":["EVET","EVET","EVET","EVET","EVET","EVET","EVET","HAYIR","HAYIR","HAYIR","HAYIR"]}
df1= pd.DataFrame(data1)
df1

    personel    MAAŞ DENEYİM     GÖREV MEMNUN
0          1  NORMAL    ORTA     UZMAN   EVET
1          2  YÜKSEK     YOK     UZMAN   EVET
2          3   DÜŞÜK     YOK  YÖNETİCİ   EVET
3          4  YÜKSEK    ORTA  YÖNETİCİ   EVET
4          5   DÜŞÜK    ORTA  YÖNETİCİ   EVET
5          6  YÜKSEK     İYİ  YÖNETİCİ   EVET
6          7   DÜŞÜK     İYİ  YÖNETİCİ   EVET
7          8  YÜKSEK    ORTA     UZMAN  HAYIR
8          9   DÜŞÜK    ORTA     UZMAN  HAYIR
9         10  YÜKSEK     İYİ     UZMAN  HAYIR
10        11   DÜŞÜK     İYİ     UZMAN  HAYIR

In [8]:
import pandas as pd
a=0
b=0
data1 = {"personel":[1,2,3,4,5,6,7,8,9,10,11],"MAAŞ":["NORMAL","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK","YÜKSEK","DÜŞÜK"],"DENEYİM":["ORTA","YOK","YOK","ORTA","ORTA","İYİ","İYİ","ORTA","ORTA","İYİ","İYİ"],"GÖREV":["UZMAN","UZMAN","YÖNETİCİ","YÖNETİCİ","YÖNETİCİ","YÖNETİCİ","YÖNETİCİ","UZMAN","UZMAN","UZMAN","UZMAN"],"MEMNUN":["EVET","EVET","EVET","EVET","EVET","EVET","EVET","HAYIR","HAYIR","HAYIR","HAYIR"]}
df1= pd.DataFrame(data1)
df1
arr1 = []
arr2 = []
for y in range(11):
    if df1.iloc[y,1]=="NORMAL":
            a=a+1
    else:
            b=b+1
arr1.append(a)
arr2.append(b)
a=0
b=0
for y in range(11):
    if df1.iloc[y,1]=="YÜKSEK":
        a=a+1
    else:
        b = b+1
arr1.append(a)
arr2.append(b)
a=0
b=0
for y in range(11):
    if df1.iloc[y,1]=="DÜŞÜK":
        a = a+1
    else:
        b = b+1
arr1.append(a)
arr2.append(b)
a=0
b=0
for y in range(11):
    if df1.iloc[y,2]=="YOK":
        a = a+1
    else:
        b = b+1
arr1.append(a)
arr2.append(b)
a=0
b=0
for y in range(11):
    if df1.iloc[y,2]=="ORTA":
        a = a+1
    else:
        b = b+1
arr1.append(a)
arr2.append(b)
a=0
b=0
for y in range(11):
    if df1.iloc[y,2]=="İYİ":
        a = a+1
    else:
        b = b+1
arr1.append(a)
arr2.append(b)
a=0
b=0
for y in range(11): 
    if df1.iloc[y,3]=="YÖNETİCİ":
        a = a+1
    else:
        b = b+1
arr1.append(a)
arr2.append(b)
a=0
b=0

for y in range(11):   
    if df1.iloc[y,3]=="UZMAN":
        a = a+1
    else:
        b=b+1
arr1.append(a)
arr2.append(b)
data2 = {"BÖLÜNME":[1,2,3,4,5,6,7,8],"SOL": arr1,"SAĞ": arr2}
df2 = pd.DataFrame(data2)
df2

   BÖLÜNME  SOL  SAĞ
0        1    1   10
1        2    5    6
2        3    5    6
3        4    2    9
4        5    5    6
5        6    4    7
6        7    5    6
7        8    6    5

In [11]:
Psol = []
Psag = []
for y in range(8):
    Psol.append(df2.iloc[y,1]/11)
for y in range(8):
    Psag.append(df2.iloc[y,2]/11)
SİNİFevetsag = []
j=0
for y in range(1,11):
    if df1.iloc[y,1] == "YÜKSEK" or df1.iloc[y,1] == "DÜŞÜK" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,1] == "NORMAL" or df1.iloc[y,1] == "DÜŞÜK" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,1] == "NORMAL" or df1.iloc[y,1] == "YÜKSEK" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,2] == "ORTA" or df1.iloc[y,2] == "İYİ" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,2] == "YOK" or df1.iloc[y,2] == "İYİ" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,2] == "YOK" or df1.iloc[y,2] == "ORTA" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,3] == "YÖNETİCİ" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,3] == "UZMAN" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsag.append(j)
j=0

SİNİFhayırsag = []
j=0
for y in range(11):
    if (df1.iloc[y,1] == "YÜKSEK") or (df1.iloc[y,1] == "DÜŞÜK") and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,1] == "NORMAL" or df1.iloc[y,1] == "DÜŞÜK" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,1] == "NORMAL" or df1.iloc[y,1] == "YÜKSEK" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,2] == "ORTA" or df1.iloc[y,2] == "İYİ" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,2] == "YOK" or df1.iloc[y,2] == "İYİ" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,2] == "YOK" or df1.iloc[y,2] == "ORTA" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,3] == "YÖNETİCİ" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0
for y in range(11):
    if df1.iloc[y,3] == "UZMAN" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsag.append(j)
j=0

Pevetsag = []
Phayırsag = []
for i in range(8):
    q =  SİNİFevetsag[i]/(SİNİFevetsag[i]+SİNİFhayırsag[i])
    Pevetsag.append(q)
q=0
for i in range(8):
    q =  SİNİFhayırsag[i]/(SİNİFevetsag[i]+SİNİFhayırsag[i])
    Phayırsag.append(q)

data3 = {"BÖLÜNME":[1,2,3,4,5,6,7,8],"Bsag":arr2,"Psag":Psag,"SINIFevet":SİNİFevetsag,"SINIFhayır":SİNİFhayırsag,"P(EVET)sag":Pevetsag,"P(HAYIR)sag":Phayırsag}
df3 = pd.DataFrame(data3)
df3

   BÖLÜNME  Bsag      Psag  SINIFevet  SINIFhayır  P(EVET)sag  P(HAYIR)sag
0        1    10  0.909091          8           7    0.533333     0.466667
1        2     6  0.545455          4           3    0.571429     0.428571
2        3     6  0.545455          4           3    0.571429     0.428571
3        4     9  0.818182          7           7    0.500000     0.500000
4        5     6  0.545455          4           4    0.500000     0.500000
5        6     7  0.636364          5           4    0.555556     0.444444
6        7     6  0.545455          5           0    1.000000     0.000000
7        8     5  0.454545          2           4    0.333333     0.666667

In [12]:
SİNİFevetsol = []
j=0
for y in range(11):
    if df1.iloc[y,1] == "NORMAL" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,1] == "YÜKSEK" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,1] == "DÜŞÜK" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,2] == "YOK" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,2] == "ORTA" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,2] == "İYİ" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,3] == "UZMAN" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,3] == "YÖNETİCİ" and df1.iloc[y,4] == "EVET":
        j = j+1
SİNİFevetsol.append(j) 
j=0



SİNİFhayırsol = []
for y in range(11):
    if df1.iloc[y,1] == "NORMAL" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,1] == "YÜKSEK" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,1] == "DÜŞÜK" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,2] == "YOK" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,2] == "ORTA" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,2] == "İYİ" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,3] == "UZMAN" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 
j=0
for y in range(11):
    if df1.iloc[y,3] == "YÖNETİCİ" and df1.iloc[y,4] == "HAYIR":
        j = j+1
SİNİFhayırsol.append(j) 


Pevetsol = []
Phayırsol = []

for i in range(8):
  q = SİNİFevetsol[i]/(SİNİFevetsol[i]+SİNİFhayırsol[i])
  Pevetsol.append(q)
q=0
for i in range(8):
  q = SİNİFhayırsol[i]/(SİNİFevetsol[i]+SİNİFhayırsol[i])
  Phayırsol.append(q)
    
data4 = {"BÖLÜNME":[1,2,3,4,5,6,7,8],"Bsol":arr1,"Psol":Psol,"SINIFevet":SİNİFevetsol,"SINIFhayır":SİNİFhayırsol,"P(evet)sol":Pevetsol,"P(hayır)sol":Phayırsol}
df4 = pd.DataFrame(data4)
df4

   BÖLÜNME  Bsol      Psol  SINIFevet  SINIFhayır  P(evet)sol  P(hayır)sol
0        1     1  0.090909          1           0    1.000000     0.000000
1        2     5  0.454545          3           2    0.600000     0.400000
2        3     5  0.454545          3           2    0.600000     0.400000
3        4     2  0.181818          2           0    1.000000     0.000000
4        5     5  0.454545          3           2    0.600000     0.400000
5        6     4  0.363636          2           2    0.500000     0.500000
6        7     5  0.454545          2           4    0.333333     0.666667
7        8     6  0.545455          5           0    1.000000     0.000000

In [13]:
toplam = []
twoing = []
for i in range(8):
    ab = 2*(Psol[i]*Psag[i])
    toplam.append(ab)
    twoing_toplam = ab*(abs(Pevetsol[i]-Pevetsag[i])+abs(Phayırsol[i]-Phayırsag[i]))
    twoing.append(twoing_toplam)
data5 = {"BÖLÜNME":[1,2,3,4,5,6,7,8],"Psol":Psol,"Psag":Psag,"2PsolPsag":toplam,"twoing toplam":twoing}
df5 = pd.DataFrame(data5)
df5

   BÖLÜNME      Psol      Psag  2PsolPsag  twoing toplam
0        1  0.090909  0.909091   0.165289       0.154270
1        2  0.454545  0.545455   0.495868       0.028335
2        3  0.454545  0.545455   0.495868       0.028335
3        4  0.181818  0.818182   0.297521       0.297521
4        5  0.454545  0.545455   0.495868       0.099174
5        6  0.363636  0.636364   0.462810       0.051423
6        7  0.454545  0.545455   0.495868       0.661157
7        8  0.545455  0.454545   0.495868       0.661157